#LateBirdsMainPage {
    -fx-background-image:url('Images/backgrnd.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1920 1080;
}
#rentPage {
    -fx-background-image: url('Images/motocrossKTM.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1050 1050;
    -fx-background-color: black;
}

#buyPage{
    -fx-background-image: url('Images/via.png');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1050 1050;
    -fx-background-color: black;
}

#swissTextBox {
    color: red;
}